
<div class="header-container">

	<span class="logo pull-right">
		<img src="icon.png" />
	</span>

	<div class="search-container">
		<i class="glyphicon glyphicon-search pull-left"></i>
		<div class="search-input-wrapper">
			<input type="text" id="search-word" class="form-control">
		</div>
	</div>

</div>

<div class="auto-suggestions-container" ng-if="Suggestions.length > 0">
	<div class="suggestion" ng-repeat="suggestion in Suggestions" ng-click="selectSuggestion(suggestion)">
		<span class="content" ng-bind-template="{{suggestion}}"></span>
	</div>
</div>