
<app-header></app-header>

<div class="content-container">

	<div class="favorite" ng-click="toggleFavorite()">
		<i class="glyphicon" ng-class="{'glyphicon-star-empty':Favorited==false, 'glyphicon-star':Favorited==true}"></i>
	</div>

	<div class="random-word">
		<div class="title">לועזית</div>
		<div class="word english" ng-bind-template="{{RandomWord.English}}"></div>
		<div class="title">עברית</div>
		<div class="word hebrew" ng-bind-template="{{RandomWord.Hebrew}}"></div>
		<div class="definition" ng-if="RandomWord.Definition.length > 0">
			<div class="link" ng-click="showDefinition()">הגדרה >></div>
			<div class="content" style="display:none;" ng-bind-template="{{RandomWord.Definition}}"></div>
		</div>
	</div>

	<app-menu></app-menu>

</div>